.inputOption{
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: gray;
    cursor: pointer;
    padding: 10px;
}
.inputOption:hover{
    border-radius: 10px;
    background-color: whitesmoke;
    cursor: pointer;
}
.inputOption>h4{
    margin-left: 5px;
}